body {
  background: #eeeeee;
  display: flex;
  flex-direction: column;
}

.navbar {
  background: #ac480e;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 0 0 90px;
}

/* Este código se coloca siempre y cuando no se use Padding
 .logo {
  position: relative;
  left: 70px;
} */

.registro {
  background: #faf9f7;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5em 0 5em 0;
}
.formulario {
  display: flex;
  flex-direction: column;
  width: 500px;
  background: white;
  padding: 35px;
  border-radius: 7px;
  border: 1px solid #d8d8d8;
}

.header-form {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1.5em 0;
}
.back-form {
  font-size: 1.3em;
  color: #bdbdbd;
  text-decoration: none;
}

.back-form:focus,
.input-form:focus,
.boton-form:focus,
.text-link-privacy:focus,
.text-link:focus {
  border: 2px solid #0677ba;
  outline: none;
}

.input-form {
  background: #e6e4e4;
  padding: 15px;
  font-size: 18px;
  border: 1px solid #d8d8d8;
  margin-bottom: 0.8em;
}

.descripcion {
  color: #adadad;
  margin-bottom: 1em;
}

.boton-form {
  background: #5fb8d5;
  color: white;
  border: none;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}

.titulo {
  font-size: 1.8em;
}

.footer-text {
  padding: 4em;
  font-size: 1.3em;
  color: #a3a2a2;
}

.text-link-privacy {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #a3a2a2;
}

.text-link {
  text-decoration: none;
  color: #a3a2a2;
}

.text-link,
.text-link-privacy:hover {
  text-decoration: underline;
}
